@media screen and (width >=320px) {
	body {
		font-size: 14px;
		font-family: 'Barlow Semi Condensed', sans-serif;
		color: #5F6C7B;
		margin: 0;
	}

	.cover-image {
		position: relative;

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(transparent, rgb(255, 255, 255));
		}
	}

	.cover-image-link {
		width: 100%;
		max-height: 20em;
		object-fit: cover;
		position: relative;
		display: block;
	}

	.header-text-container {
		max-width: 80%;
		margin-left: 1.2em;
		position: absolute;
		top: 31%;
	}

	.webpage-title {
		font-family: 'Comforter Brush', cursive;
		font-size: 4em;
		color: #094067;
		margin: 0;
	}

	.intro-paragraph {
		margin: 0;
		max-width: 80%;
	}

	.section-title {
		font-family: "Itim", sans-serif;
		color: #094067;
		font-size: 2.5em;
		text-align: center;
	}

	.top-destinations {
		margin-top: 15em;
	}

	.td-ordered-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 15px;
		list-style-type: none;
	}

	.top-destinations h2 {
		flex: 2 1 50em;
	}

	.td-image {
		display: block;
		width: 299.6px;
		height: 250px;
		object-fit: cover;
		border-radius: 14px 14px 0px 0px;

	}

	.td-rectangle {
		height: 13px;
		width: 299.6px;
		background-color: #EF4565;

	}

	.td-text-container {
		max-width: 280px;
		background-color: #094067;
		margin-bottom: 20px;
		border-radius: 0px 0px 14px 14px;
		color: white;
		display: flex;
		flex-direction: column;
		padding: 0.7em;
		padding-top: 0.1em;
	}

	.td-text-container h3 {
		margin: 0;
		padding: 0;
		margin-top: 0.2em;
	}

	.read-more-button {
		color: white;
		text-decoration: none;
		text-shadow: 2px 2px 3px #5F6C7B;
		background: #A7A9BE;
		border-radius: 20px;
		padding: 7px;
		border: 1px #A7A9BE;
		box-shadow: 2px 2px 3px #041b2b;
		margin-left: 70%;
		margin-bottom: 3%;
		text-align: center;
	}

	.travel-tips {
		margin-bottom: 10em;
		margin-top: 3em;
		position: relative;
	}

	.tt-text-container {
		position: absolute;
		top: 73%;
	}

	.tt-image {
		position: relative;

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(rgba(255, 255, 255, 1), transparent, rgba(255, 255, 255, 1));
		}
	}

	.tt-image-link {
		height: 100%;
		width: 100%;
		max-height: 20em;
		object-fit: cover;
	}

	.travel-tips li {
		margin: 5px;
		font-size: 1.2em;
	}

	.local-cuisine {
		margin-top: 24em;
	}

	.lc-item-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.lc-image {
		width: 280px;
		height: 250px;
		object-fit: cover;
		border-radius: 14px 14px 0px 0px;
	}

	.lc-rectangle {
		height: 13px;
		width: 280px;
		background-color: #EF4565;
	}

	.lc-text {
		width: 260px;
		height: fit-content;
		background-color: #FFDEE4;
		margin-bottom: 20px;
		margin-top: auto;
		padding: 0.5em;
		padding-bottom: 2em;
		border-radius: 0px 0px 14px 14px;
		text-align: center;
		font-size: 1.4em;
	}
}


@media screen and (width >=500px) {

	body {
		font-size: 1.1em;
	}

	.cover-image {
		width: 100%;
	}

	.header-text-container {
		font-size: 1.1em;
		top: 38%;
	}

	.intro-paragraph {
		max-width: 60%;
	}

	.section-title {
		align-items: flex-start;
		justify-content: center;
	}

	.top-destinations {
		margin-top: 17em;
	}

	.td-ordered-list {
		display: flex;
		margin-bottom: 10px;
		max-width: 90%;
	}

	.td-ultimate {
		display: flex;
		flex-direction: row;
		margin: 0.5em;

	}

	.td-image {
		min-width: 100px;
		max-width: 400px;
		height: 14em;
		border-radius: 14px 0px 0px 14px;
		margin: 0;
	}

	.td-rectangle {
		width: 13px;
		height: 14em;
	}

	.td-text-container {
		height: 12.3em;
		min-width: 20em;
		border-radius: 0px 14px 14px 0px;
		margin: 0;
		padding-top: 1em;
	}

	.read-more-button {
		margin-left: 55%;
		margin-top: 5%;
		font-size: 1.3em;
		;
	}


	.travel-tips {
		display: flex;
		flex-direction: row;
		margin: 0;
		margin-top: 2em;
	}

	.tt-text-container {
		font-size: 1.2em;
		top: 79%;
		order: 1;
		position: static;
		padding-top: 5em;
		padding-bottom: 5em;
	}

	.tt-image {
		max-height: 90em;
		min-width: 50%;
		object-fit: cover;
		order: 2;
	}

	.tt-image-link {
		max-height: 130em;
	}

	.travel-tips-list {
		font-size: 0.5em;
		margin: 4em;

	}

	.lc-image,
	.lc-rectangle {
		max-height: 10em;
		max-width: 10em;
	}

	.lc-text {
		font-size: 1em;
		width: 9.2em;
		padding: 0.4em;
		margin: 0;
		min-height: 4em;
		margin-bottom: 2em;
		;

	}

	.local-cuisine {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 3em;
	}

	.local-cuisine h2 {
		flex: 2 1 30em;
	}

	.lc-item-container {
		padding: 0.6em;
	}
}


@media screen and (width >=1280px) {

	body {
		font-size: 1.1em;
	}

	.td-ordered-list {
		display: grid;
		grid-template-columns: repeat(3, 22em);
		margin: 0;
		margin-left: 3.5em;
	}

	.td-ordered-list li:first-child {
		grid-row: span 2;
	}

	.td-ordered-list li:first-child img {
		height: 39.5em;
		margin: 0;
	}

	.td-ultimate {
		display: inline-block;
		margin: 8px;

	}

	.td-image {
		width: 20.7em;
		height: 10em;
		object-fit: cover;
		border-radius: 14px 14px 0px 0px;

	}

	.td-rectangle {
		height: 13px;
		width: 20.7em;
		background-color: #EF4565;
	}

	.td-text-container {
		min-width: 16.6em;
		border-radius: 0px 0px 14px 14px;
		height: 14em;
		font-size: 1.15em;

	}

	.read-more-button {
		margin-top: 1em;
	}

	.tt-text-container ul {
		font-size: 0.8em;
		top: 87%;
	}

	.tt-image {
		min-height: 29em;
	}

	.lc-item-container {
		padding: 0.8em;
	}
}